@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About Me</h1>
    <p class="lead">This Web Page Is A Monument To My Love For AgarWood</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>I'm a lumberjack and I'm OK. I sleep all night and I work all day. -Monty Python</h2>
        <p>
        <p>
            I was born a lumber jack and I will die a lumberjack. My name is not important. where im from is not important. Lumber is important.
        </p>
        <p>
            If I was a better writer I could put something interesting here.
        </p>
    </div>

    <div class="col-md-6 img-float">
        <img class="img-thumbnail" src="http://2rqtzx1a1rm54af0fo7k8411.wpengine.netdna-cdn.com/wp-content/uploads/2014/09/Lumberjack_FCPWORKS-takes-a-look-at-Lumberjack-from-Intelligent-Assistance.jpg" />
    </div>
    </div>
