
@{
    ViewBag.Title = "Dalbergia";
}

<div class="jumbotron">
    <h1>Dalbergia</h1>
    <p class="lead">This Web Page Is A Monument To My Love For Dalbergia</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Dalbergia</h2>
        <p>
        <p>
            Dalbergia is a large genus of small to medium-size trees, shrubs and lianas in the pea family, Fabaceae, subfamily Faboideae. It was recently assigned
            to the informal monophyletic Dalbergia clade of the Dalbergieae.<a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Lavin-1">[1]</a>
            <a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Vatanparast-2">[2]</a><a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Cardoso-3">[3]</a>
            The genus has a wide distribution, native to the tropical regions of Central
            and South America, Africa, Madagascar and southern Asia.
        </p>
        <p>
            Many species of Dalbergia are important timber trees, valued for their decorative and often fragrant wood, rich in aromatic oils.
            The most famous of these are the rosewoods, so-named because of the smell of the timber when cut, but several other valuable woods are
            yielded by the genus.
        </p>

        <p>
            The pre-eminent rosewood appreciated in the western world is D. nigra known as Rio, Bahia, Brazilian Rosewood, Palisander de Rio Grande,
            or Jacarandá; heavily exploited in the past, it is now listed on CITES Appendix I.[7] The second most desired rosewood in the western
            world is D. latifolia known as (East) Indian Rosewood or Sonokeling. Most rosewoods are a rich brown with a good figure. Note that only
            a small number of Dalbergia species yield rosewood. Several East Asian species are important materials in traditional Chinese furniture.
        </p>
    </div>

    <div class="col-md-6 img-float">
        <img class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Trunk_W_IMG_3540.jpg/330px-Trunk_W_IMG_3540.jpg" />
    </div>
</div>

<div class="top-padding">

    <p><a class="btn btn-default" href="http://www.cookwoods.com/wp-blog/wp-content/uploads/2013/09/9-3-13-Dalbergia-lanceolaria1.jpg">WikiPage &raquo;</a></p>
</div>

