
@{
    ViewBag.Title = "ExternalResources";
}

<h2>ExternalResources</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Dalbergia Links</h2>
        <p>
            <a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Lavin-1">Dalbergia Link[1]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Vatanparast-2">Dalbergia Link[2]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Cardoso-3">Dalbergia Link[3]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Lignum_vitae">Dalbergia WikiPage </a>
        </p>
        </div>
    <div class="col-md-4">
        <h2>AgarWood Links</h2>
        <p>
            <a href="https://en.wikipedia.org/wiki/Agarwood#cite_note-1">AgarWood Link[1]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Agarwood#cite_note-Broad-2">AgarWood Link[2]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Agarwood#cite_note-CITES1-3">AgarWood Link[3]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Agarwood">AgarWood WikiPage </a>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Lignum Vita Links</h2>
        <p>
            <a href="https://en.wikipedia.org/wiki/Lignum_vitae#cite_note-1">Lignum Vita Link[1]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Lignum_vitae#cite_note-2">Lignum Vita Link[2]</a>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Lignum_vitae">Lignum Vita WikiPage </a>
        </p>

    </div>
    </div>

