@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lumber Lovers</h1>
    <p class="lead">This web page is a monument to my love for wood</p>
</div>
<div><h1>The Three Finest Lumbers On Earth.</h1></div>
<div class="row">
    <div class="col-md-4">
        <h2>Lignum Vita</h2>
        <p>
        <p>
            Lignum vitae is a trade wood, also called guayacan or guaiacum,<a href="https://en.wikipedia.org/wiki/Lignum_vitae#cite_note-1">[1]</a> and in parts of Europe known as pockholz,
            from trees of the genus Guaiacum. The trees are indigenous to the Caribbean and the northern coast of South America
            and have been an important export crop to Europe since the beginning of the 16th century. The wood was once very important
            for applications requiring a material with its extraordinary combination of strength, toughness, and density. It is also the
            national tree of the Bahamas and the Jamaican national flower.<a href="https://en.wikipedia.org/wiki/Lignum_vitae#cite_note-2">[2]</a>
        </p>
        <p><a class="btn btn-default" href="#">WikiPage &raquo;</a></p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Agar wood</h2>
        <p>   Agarwood, also known as oud, oodh, agar, aloeswood or lign-aloes, is a dark resinous heartwood that forms in Aquilaria
         and Gyrinops<a href="https://en.wikipedia.org/wiki/Agarwood#cite_note-1">[1]</a> trees (large evergreens native to southeast Asia) when they become infected with a type of mould. Prior
        to infection, the heartwood is odourless, relatively light and pale coloured; however, as the infection progresses, the tree
        produces a dark aromatic resin in response to the attack, which results in a very dense, dark, resin embedded heartwood. The
        resin embedded wood is commonly called gaharu, jinko, aloeswood, agarwood, or oud (not to be confused with bukhoor) and is valued
        in many cultures for its distinctive fragrance, and thus is used for incense and perfumes.</p>
        <p><a class="btn btn-default" href="#">WikiPage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dalbergia</h2>
        <p>Dalbergia is a large genus of small to medium-size trees, shrubs and lianas in the pea family, Fabaceae, subfamily Faboideae. It was recently assigned
         to the informal monophyletic Dalbergia clade of the Dalbergieae.<a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Lavin-1">[1]</a>
         <a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Vatanparast-2">[2]</a><a href="https://en.wikipedia.org/wiki/Dalbergia#cite_note-Cardoso-3">[3]</a>
         The genus has a wide distribution, native to the tropical regions of Central
         and South America, Africa, Madagascar and southern Asia.</p>
        <p><a class="btn btn-default" href="#">WikiPage &raquo;</a></p>
    </div>
</div>