
@{
    ViewBag.Title = "LignumVita";
}

<div class="jumbotron">
    <h1>Lignum Vita</h1>
    <p class="lead">This Web Page Is A Monument To My Love For Lignum Vita</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Lignum Vita</h2>
        <p>
        <p>
            Lignum vitae is a trade wood, also called guayacan or guaiacum,<a href="https://en.wikipedia.org/wiki/Lignum_vitae#cite_note-1">[1]</a> and in parts of Europe known as pockholz,
            from trees of the genus Guaiacum. The trees are indigenous to the Caribbean and the northern coast of South America
            and have been an important export crop to Europe since the beginning of the 16th century. The wood was once very important
            for applications requiring a material with its extraordinary combination of strength, toughness, and density. It is also the
            national tree of the Bahamas and the Jamaican national flower.<a href="https://en.wikipedia.org/wiki/Lignum_vitae#cite_note-2">[2]</a>
        </p>
        </div>
        <div class="col-md-6">       
                <img class="img-thumbnail"src="http://www.cookwoods.com/wp-blog/wp-content/uploads/2013/09/9-3-13-Dalbergia-lanceolaria1.jpg" />
        </div>
    </div>
<div class="top-padding">
    <p>
        The wood is obtained chiefly from Guaiacum officinale and Guaiacum sanctum, both small, slow growing trees. All species of
        the genus Guaiacum are now listed in Appendix II of CITES (the Convention on International Trade in Endangered Species of Wild
        Fauna and Flora) as potentially endangered species. Demand for the wood has been reduced by modern materials science, which has
        led to polymer, alloys and composite materials that can take lignum vitae's place.
    </p>
    <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Lignum_vitae">WikiPage &raquo;</a></p>
</div>
